.admin {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pc view */
.admin-sidebar {
  width: 300px;
  background: #1dd1a1;
}
@media only screen and (max-width: 600px) {
  .admin-sidebar {
    width: 110px;
    position: sticky;
    overflow: hidden;
  }
}

.sidebar-button ul {
  padding-left: 0;
}
.sidebar-button ul li {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.sidebar-button ul li button {
  margin-left: 15px;
  display: block;
  background: transparent;
  font-size: 22px;
  text-align: center;
  border: none;
  font-weight: 700;
  padding: 5px 0;
}
.sidebar-button ul li:hover {
  background: #10ac84;
}
/* Appoint section css */

.all-details {
  border: 1px solid black;
  width: 100%;
}

/* all apointment */

.all-appointment {
  margin: 20px;
}
.table-row select {
  width: 100px;
  padding: 3px;
  margin-right: 5px;
}

.app-doctor-img {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  width: 300px;
}
.dc-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}
.dc-img img {
  width: 100%;
}
